{% macro link(endpoint, label, class, internal=True) %}
    {% if internal %}
        {% set endpoint = url_for(endpoint) %}
    {% endif %}
    <a href="{{ endpoint }}" class="{{ class }}">{{ label }}</a>
{% endmacro %}
{% macro nav_bar_option(endpoint, label) %}
    {% if active == label %}
        <span class="nav-bar-option active">{{ label }}</span>
    {% else %}
        {{ link(endpoint, label, "nav-bar-option link") }}
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{% block author %}Mariusz Tang{% endblock %}">
    <meta name="description" content="{% block description required %}{% endblock %}">
    <title>{% block title required %}{% endblock %} — SkateUCL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
</head>
<body>
    <header id="nav-bar">
        <div id="nav-bar-expander">
            <img id="nav-bar-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="The SkateUCL logo.">
            <nav id="nav-bar-options">
                {{ nav_bar_option("index", "Home")|safe }}
                {{ nav_bar_option("index", "Events")|safe }}
                {{ nav_bar_option("index", "Equipment")|safe }}
                {{ nav_bar_option("index", "Join us")|safe }}
            </nav>
        </div>
        <button type="button" id="nav-bar-expander-button" onclick="document.getElementById('nav-bar-options').classList.toggle('expanded')"></button>
    </header>
    <main id="main-content" class="wrapper">
        <header id="main-heading-container" style="background-image: url({% block header_image_url required %}{% endblock %});">
            <h1 id="main-heading">{% block heading %}{{ self.title() }}{% endblock %}</h1>
        </header>
        <div id="main-body">
            {% block content %}
                <section class="text-section">
                    <h2>Not implemented</h2>
                    <p>Looks like this page has not been implemented yet.</p>
                    <p>Override the <code>content</code> block in the template.</p>
                </section>
            {% endblock %}
        </div>
    </main>
    <footer id="footer" class="wrapper">
        <h6 class="footer-heading">Contact us:</h6>
        <nav class="footer-list">
            <span>{{ link("mailto:su.skate-club@ucl.ac.uk", "Email", internal=False) }}</span>
            <span>{{ link("https://www.instagram.com/skateucl/", "Instagram", internal=False) }}</span>
            <span>{{ link("https://chat.whatsapp.com/FS8wBuXy0I513yhOeaIkqx", "Whatsapp Group Chat", internal=False) }}</span>
        </nav>
        <hr>
        <nav id="footer-legal-links" class="footer-list">
            <span>Copyright © 2024 UCL Skate Club</span>
            <span>{{ link("index", "Disclaimer", "footer-legal-link") }}</span>
            <span>{{ link("index", "Privacy", "footer-legal-link") }}</span>
        </nav>
    </footer>
</body>
</html>
