{% macro nav_bar_option(endpoint, label) %}
    {% if active == label %}
        <span class="nav-bar-option active">{{ label }}</span>
    {% else %}
        <a href="{{ url_for(endpoint) }}" class="nav-bar-option link">{{ label }}</a>
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{% block author %}Mariusz Tang{% endblock %}">
    <meta name="description" content="{% block description required %}{% endblock %}">
    <title>{% block title required %}{% endblock %} — SkateUCL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
</head>
<body>
    <header id="nav-bar">
        <div id="nav-bar-expander">
            <img id="nav-bar-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="The SkateUCL logo.">
            <nav id="nav-bar-options">
                {{ nav_bar_option("index", "Home")|safe }}
                {{ nav_bar_option("index", "Events")|safe }}
                {{ nav_bar_option("index", "Equipment")|safe }}
                {{ nav_bar_option("index", "Join us")|safe }}
            </nav>
        </div>
        <button type="button" id="nav-bar-expander-button" onclick="document.getElementById('nav-bar-options').classList.toggle('expanded')"></button>
    </header>
    <main id="main-content" class="wrapper">
        <header id="main-heading-container" style="background-image: url({% block header_image_url required %}{% endblock %});">
            <h1 id="main-heading">{% block heading %}{{ self.title() }}{% endblock %}</h1>
        </header>
        <div id="main-body">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam deleniti itaque ipsum ipsam dignissimos rerum ut sequi nisi sed beatae, libero neque illo dolores? Animi magnam soluta esse voluptatem ducimus?</p>
        </div>
    </main>
    <footer id="footer" class="wrapper">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, commodi repudiandae facere iusto veniam eveniet maiores impedit eius. Molestias, obcaecati quis deserunt sapiente dolorum provident maiores. At, consequuntur aliquam. Unde!
        <hr>
        <p>Copyright © 2024 UCL Skate Club</p>
    </footer>
</body>
</html>
