{% macro internal_link(endpoint, label, class) %}
    <a href="{{ url_for(endpoint) }}" class="{{ class }}">{{ label }}</a>
{% endmacro %}
{% macro nav_bar_option(endpoint, label) %}
    {% if active == label %}
        <span class="nav-bar__option active">{{ label }}</span>
    {% else %}
        {{ internal_link(endpoint, label, "nav-bar__option link") }}
    {% endif %}
{% endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{% block author %}Mariusz Tang{% endblock %}">
    <meta name="description" content="{% block description required %}{% endblock %}">
    <title>{% block title required %}{% endblock %} — SkateUCL</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.svg') }}">
    {% if extra_stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' + extra_stylesheet + '.css') }}">
    {% endif %}
    {% for script in scripts %}
        <script src="{{ url_for('static', filename='js/' + script + '.js') }}"></script>
    {% endfor %}
</head>
<body>
    <header class="nav-bar">
        <div class="nav-bar__expander">
            <img class="nav-bar__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="The SkateUCL logo.">
            <nav id="js-nav-bar__options" class="nav-bar__options">
                {{ nav_bar_option("index", "Home")|safe }}
                {{ nav_bar_option("index", "Events")|safe }}
                {{ nav_bar_option("index", "Equipment")|safe }}
                {{ nav_bar_option("index", "Join us")|safe }}
            </nav>
        </div>
        <button type="button" class="nav-bar__expander-button" onclick="document.getElementById('js-nav-bar__options').classList.toggle('expanded')"></button>
    </header>
    <div class="wrapper">
        <main class="main">
            <template>{% block header_image_url required %}{% endblock %}</template>
            <header class="main-heading" style="background-image: url({{ url_for('static', filename=self.header_image_url()) }});">
                <h1 class="main-heading__text">{% block heading %}{{ self.title() }}{% endblock %}</h1>
            </header>
            <div class="main-body">
                {% block content %}
                    <section class="text-section">
                        <h2>Not implemented</h2>
                        <p>Looks like this page has not been implemented yet.</p>
                        <p>Override the <code>content</code> block in the template.</p>
                    </section>
                {% endblock %}
            </div>
        </main>
        <footer class="footer">
            <h6 class="footer__heading">Contact us:</h6>
            <nav class="footer__list">
                <span><a href="mailto:su.skate-club@ucl.ac.uk" class="footer__link">Email</a></span>
                <span><a href="https://www.instagram.com/skateucl/" class="footer__link">Instagram</a></span>
                <span><a href="https://chat.whatsapp.com/FS8wBuXy0I513yhOeaIkqx" class="footer__link">Whatsapp Group Chat</a></span>
            </nav>
            <hr>
            <nav class="footer__legal-links footer__list">
                <span>Copyright © 2024 UCL Skate Club</span>
                <span>{{ internal_link("index", "Disclaimer", "footer__link") }}</span>
                <span>{{ internal_link("index", "Privacy", "footer__link") }}</span>
            </nav>
        </footer>
    </div>
</body>
</html>
