{% extends 'base.j2' %}

{% block title %}Home{% endblock %}
{% block description %}
    Homepage of the official website of UCL's Skate Club.
    Meet our committee members, see upcoming events, reserve equipment, and more!
{% endblock %}

{% block header_image_url %}
    {{ url_for('static', filename='img/Placeholder image.png') }}
{% endblock  %}
