{% extends 'base.html' %}

{% block description %}
    Homepage of the official website of UCL's Skate Club.
    Meet our committee members, see upcoming events, reserve equipment, and more!
{% endblock %}

{% block header %}
    {% block title %}Home{% endblock %}
{% endblock %}
