{% extends 'base.j2' %}

{% block title %}Home{% endblock %}
{% block description %}
    Homepage of the official website of UCL's Skate Club.
    Meet our committee members, see upcoming events, reserve equipment, and more!
{% endblock %}

{% block header_image_url %}
    {{ url_for('static', filename='img/Placeholder image.png') }}
{% endblock %}

{% block content %}
    <section class="text-section">
        <h2>Welcome to Skate Club at UCL!</h2>
        <p>We're one of the newest clubs in the union! The Skate Club is multidisciplinary, celebrating all forms of skating. We have representatives for 4 big areas: inline skating, quad skating, skateboarding, and longboarding, who will support you in your skating endeavours.</p>
        <p>We typically run two skate sessions a week, no commitment required, drop in whenever you'd like. Whether you're completely new to skating or have been immersed in the sport for years, you can look forward to peer-led training for beginners, practise sessions to learn some tricks, and collaborating with other skating groups. Our members often share equipment with one another, so there's no reason not to try.</p>
    </section>
{% endblock %}
