{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block description %}
    Homepage of the official website of UCL's Skate Club.
    Meet our committee members, see upcoming events, reserve equipment, and more!
{% endblock %}
