/* === Colours === */

body {
    --club-purple: #794992;
    --club-blue: #89D8EF;
    --nav-active-colour: darkorange;
}

/* === Defaults === */

body {
    margin: 0;
    background-color: #ff8;
}

/* === Fonts === */

@font-face {
    font-family: Roboto;
    src: url(../static/fonts/Roboto-Regular.ttf);
}

/* === Navigation bar === */

#nav-bar {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    display: grid;
    --logo-width: max(200px, min(20vw, 400px));
    grid-template-columns: var(--logo-width) auto;
    justify-content: space-between;
}
#nav-bar-logo {
    width: var(--logo-width);
}

#nav-bar-options {
    position: relative;
    display: none;
    justify-content: flex-start;
    flex-direction: column;
}
#nav-bar-options.expanded {
    display: flex;
    padding-bottom: 4px;
}
.nav-bar-option {
    display: inline-block;
    position: relative;
    padding: .2vh calc(var(--logo-width) / 20);
    text-decoration: none;
    color: black;
    font-size: calc(var(--logo-width) / 10);
    font-weight: bolder;
    font-family: Roboto;
}
.nav-bar-option:nth-child(2n + 1) {
    --highlight-colour: var(--club-purple)
}
.nav-bar-option:nth-child(2n) {
    --highlight-colour: var(--club-blue)
}
.nav-bar-option.link:hover {
    color: var(--highlight-colour);
}

.nav-bar-option.active {
    text-decoration: underline var(--highlight-colour) calc(var(--logo-width) / 67);
    text-underline-offset: 4px;
    cursor: default;
}

@media screen and (min-width: 600px) {
    #nav-bar {
        justify-content: start;
    }
    #nav-bar-expand {
        display: none;
    }
    #nav-bar-options {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
    }
    #nav-bar-options.expanded {
        padding-bottom: 0;
    }
    .nav-bar-option {
        padding: 0 2vw;
    }
    .nav-bar-option.active {
        text-underline-offset: calc(var(--logo-width) / 32);
        text-underline-position: below;
    }
}
